<a href="https://colab.research.google.com/github/Abritty/Python-Beginning/blob/master/pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([(1,2),(3,4),(5,6)], columns=['a','b'])
print(df1)

   a  b
0  1  2
1  3  4
2  5  6

In [3]:
df2 = pd.DataFrame([(100,200),(300,400),(500,600)], columns=['a','b'])
print(df2)

     a    b
0  100  200
1  300  400
2  500  600

In [4]:
df_add = df1.add(df2, fill_value=0)
print(df_add)

     a    b
0  101  202
1  303  404
2  505  606