In [7]:
import pandas as pd
df = pd.read_excel("countries_population.xls")

In [8]:
df.head()

   rank        country continent  population change
0     1          China      Asia  1403500365  0.004
1     2          India      Asia  1324171354  0.011
2     3  United States  Americas   322179605  0.007
3     4      Indonesia      Asia   261115456  0.011
4     5         Brazil  Americas   207652865  0.008