In [1]:
name = set()

In [2]:
type(name)

set

In [3]:
Weather={'rain','sunny','sunny','rain','snow'}

In [4]:
Weather

{'rain', 'snow', 'sunny'}

In [5]:
Weather.add('stormy')

In [6]:
Weather

{'rain', 'snow', 'stormy', 'sunny'}

In [7]:
Weather.pop()

'stormy'

In [8]:
Weather

{'rain', 'snow', 'sunny'}

In [10]:
Weather.remove('rain')
Weather

{'snow', 'sunny'}

In [11]:
Weather.clear()

In [12]:
Weather

set()

# Union

In [13]:
num_1 ={1,3,4,6,9}
num_2={2,4,6,5,9,11,1}

num =num_1.union(num_2)
num

{1, 2, 3, 4, 5, 6, 9, 11}

In [14]:
num_3 = {9,11,34,67,89}

Uni = num | num_3

In [15]:
Uni

{1, 2, 3, 4, 5, 6, 9, 11, 34, 67, 89}

In [16]:
Inter = num_1.intersection(num_2)
Inter

{1, 4, 6, 9}

In [17]:
Common = num & num_3
Common

{9, 11}

In [18]:
Diff = num_1.difference(num_2)
Diff

{3}

In [19]:
Symetric_diff = num_1 ^ num_2

In [20]:
Symetric_diff

{2, 3, 5, 11}

# whether element exist or not

In [21]:
odd_num ={1,3,5,7,9}

In [22]:
9 in odd_num

True

In [23]:
odd_num.remove(7)

In [24]:
odd_num

{1, 3, 5, 9}

In [25]:
odd_num.discard(5)
odd_num

{1, 3, 9}